p {
    background: yellow;
    border-width: 5px;
    margin-right: 20px; 
    padding: 0;
    display: inline;
}  

.red-dashed {
    border-style: dashed;
    border-color: red;
    /* padding: 50px;  */
}

.green-solid {
    border-style: solid;
    border-color: green;
    /* padding-top: 50px; */
}
.one{
    width: 300px;
    /* margin: 50px; */
}

.two {
    width: 400px;
    visibility: hidden;
    /* margin: 0 auto; */
}

.three {
    width: 200px;
    display: inline;
    /* margin-left: 100px; */
} 

.three:hover {
    display: none;
}

